@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);



@font-face {
	font-family: 'edinsoncs';
	src:url('../fonts/edinsoncs.eot?-cpg072');
	src:url('../fonts/edinsoncs.eot?#iefix-cpg072') format('embedded-opentype'),
		url('../fonts/edinsoncs.woff?-cpg072') format('woff'),
		url('../fonts/edinsoncs.ttf?-cpg072') format('truetype'),
		url('../fonts/edinsoncs.svg?-cpg072#edinsoncs') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'edinsoncs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
	content: "\e600";
	font-size: .8em;

}
.icon-bookmark:before {
	content: "\f02e";
}

.icon-checkmark:hover {

}




body {
	background: #F3F3F3;
}

/* loader #cargando {
	background: #d9d9da;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;

}

#cargando img {
	cursor: pointer;
	margin-top: 5em;
	border-radius: 50%;
	border: 2px solid white;
}

#cargando img:hover {
	border: 5px solid white;
	transition: 1s;
	transform: rotate(350deg);
	box-shadow: 5px 10px 10px #7E7E7E;
}


#portafolio {
	display: none;
} */

header {
	border-bottom: .3em solid #24759f;
	background:url('../img/assetone.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	margin:0;
}

header figure {
	margin-top: 3.2em;
	text-align: center;


}
header figure img {
	margin-top: 12px;
	border-radius:50%;
	border:1em solid #fff;

}

header figure figcaption {
	color:white;
	font-size:2em;
	font-weight: 900;
	font-family: 'Pacifico', cursive;
	text-shadow: 0 0 4px #000;
}

header h1 {
	margin-top:0;
	line-height: .5em;
	color:white;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

header .sociales{
	text-align: center;
	padding: 2em;
}

header .sociales h3 {
	color:white;
	display: inline;
	font-family: 'Titillium Web', sans-serif;
	height: auto;
	width: 100px;
	line-height: 1em;
}

header .sociales h3 a {
	color:white;
	text-decoration: none;
}

header .sociales h3 a:hover {
	color:#24759f;
	border-bottom: 1px solid #24759f;
}

nav {
	background: #24759f;
	position:fixed;
	top:0;
	right: 0;
	left:0;
	box-shadow: 1px 1px 5px #000;
}

nav ul {
	margin:0;
	padding:1em;
	text-align: center;


}

nav ul li {
	font-family: 'PT Sans', sans-serif;
	display: inline;
	margin:2em;
}

nav ul li a {
	padding:.5em;
	color:white;
	text-decoration: none;
}

nav ul li a:hover {
	border-radius: .5em;
	background: linear-gradient(#FFFFFF,#F3F3F3);
	color:black;
}

#contenido {
 width: 100%;

}


#contenido h4 {
	color:black;
	text-align: center;
	border-bottom: 2px solid #24759f;
	padding: .5em;
}


#contenido h2 a {
	color:white;
	text-decoration: none;
	font-size: .9em;
}






#contenido .articulos {

	text-align: center;


}

#contenido .articulos .p-a {
	display: inline-block;
	background: rgb(255, 184, 0);
	padding: .4em;
	border-radius: .5em;
	margin: 0 .3em;
	font-weight: 200;

}

#contenido .articulos .p-a {
	display: inline-block;
	background: rgb(255, 184, 0);
	padding: .4em;
	border-radius: .5em;
	margin: 0 .3em;

}

#contenido .articulos .p-b {
	display: inline-block;
	background: rgb(0, 143, 255);
	padding: .4em;
	border-radius: .5em;
	margin: 0 .3em;

}

#contenido .articulos .p-c {
	display: inline-block;
	background: rgb(252, 95, 65);
	padding: .4em;
	border-radius: .5em;
	margin: 0 .3em;

}

#contenido .articulos .p-d {
	display: inline-block;
	background: rgb(65, 125, 252);
	padding: .4em;
	border-radius: .5em;
	margin: 0 .3em;

}

#portafolio {
	text-align: center;
}

#portafolio .portafolio-1 {
	display: inline-block;

}


#contacto  {
	color:black;
	text-align: center;
	border-bottom: 2px solid #24759f;
	padding: .5em;
}

footer {
	
	background: url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
}


footer .footersito {
	text-align: center;
}
footer p {
	color:white;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

footer form {
	text-align: center;
	display: inline-block;
	width: 300px;

}

footer form input {
	border-radius:1em;
	border:none;
	margin:.3em;
	padding:1em;
}

footer form input:hover {
	box-shadow: 0 0 5px #24759f;
}
footer form textarea{
	border-radius:1em;
	border:none;
	resize:none;
	padding: 2em;

}

footer form textarea:hover {
	box-shadow: 0 0 5px #24759f;
}

footer form input[type="submit"] {
	border:none;
	border-radius:1em;
	background: orange;
	color:white;
	padding:.8em;
	margin-top: .7em;
	margin-bottom: 1em;
}

footer form button:hover {
	color:white;
}

/* Responsive */

@media screen and (min-width: 320px) and (max-width: 768px){
	
	body {
		

	}
	nav {
		width: 100%;
		padding: .1em;
		position: static;
	}

	nav ul li {
		display: block;
	}

	nav ul {
		padding: 0;
	}

	nav ul li a {
		padding: .5em 4em;
	}

	header {
		margin-top: -3.2em;
		width: 100%;
	}

	#contenido {
		width: 100%;
	}

	#contenido .articulos .p-a {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#contenido .articulos .p-b {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#contenido .articulos .p-c {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#contenido .articulos .p-d {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#portafolio .portafolio-1 {
	
		margin: 0;
	}

	#portafolio .portafolio-1 img {
		
	}
}


@media screen and (min-width: 768px) and (max-width: 1000px){
	body {
		

	}
	nav {
		width: 100%;
		padding: .1em;
		position: static;
	}

	nav ul li {
		display: block;
	}

	nav ul {
		padding: 0;
	}

	nav ul li a {
		padding: .5em 4em;
	}

	header {
		margin-top: -3.2em;
		width: 100%;
	}

	#contenido {
		width: 100%;
	}

	#contenido .articulos .p-a {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#contenido .articulos .p-b {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#contenido .articulos .p-c {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#contenido .articulos .p-d {
		margin: 0 0 1em 0;
		display: inline-block;
		width: 50%;

	}

	#portafolio .portafolio-1 {
	
		margin: 0;
	}

	#portafolio .portafolio-1 img {
		
	}


}