@import url(http//fonts.googleapis.com/css?family=PT+Sans400,700)
@import url(http//fonts.googleapis.com/css?family=Pacifico)
@import url(http//fonts.googleapis.com/css?family=Titillium+Web)
@import url('iconos.css')

body
  background #F3F3F3

header
  border-bottom .3em solid #24759f
  background url('../img/assetone.jpg')
  background-repeat no-repeat
  background-size cover
  margin 0
  margin-top -3.2em
  width 100%
  margin-top -3.2em
  width 100%
  figure
    margin-top 3.2em
    text-align center
    img
      margin-top 12px
      border-radius 50%
      border 1em solid #fff
    figcaption
      color white
      font-size 2em
      font-weight 900
      font-family 'Pacifico', cursive
      text-shadow 0 0 4px #000
  h1
    margin-top 0
    line-height .5em
    color white
    text-align center
    font-family 'PT Sans', sans-serif
  .sociales
    text-align center
    padding 2em
    h3
      color white
      display inline
      font-family 'Titillium Web', sans-serif
      height auto
      width 100px
      line-height 1em
      a
        color white
        text-decoration none
        &:hover
          color #24759f
          border-bottom 1px solid #24759f

nav
  background #24759f
  position fixed
  top 0
  right 0
  left 0
  box-shadow 1px 1px 5px #000
  width 100%
  padding .1em
  position static
  width 100%
  padding .1em
  position static
  ul
    margin 0
    padding 1em
    text-align center
    padding 0
    padding 0
    li
      font-family 'PT Sans', sans-serif
      display inline
      margin 2em
      display block
      display block
      a
        padding .5em
        color white
        text-decoration none
        padding .5em 4em
        padding .5em 4em
        &:hover
          border-radius .5em
          background linear-gradient(#FFFFFF,#F3F3F3)
          color black

#contenido
  width 100%
  width 100%
  width 100%
  h4
    color black
    text-align center
    border-bottom 2px solid #24759f
    padding .5em
  h2
    a
      color white
      text-decoration none
      font-size .9em
  .articulos
    text-align center
    .p-a
      display inline-block
      background rgb(255, 184, 0)
      padding .4em
      border-radius .5em
      margin 0 .3em
      font-weight 200
      display inline-block
      background rgb(255, 184, 0)
      padding .4em
      border-radius .5em
      margin 0 .3em
      margin 0 0 1em 0
      display inline-block
      width 50%
      margin 0 0 1em 0
      display inline-block
      width 50%
    .p-b
      display inline-block
      background rgb(0, 143, 255)
      padding .4em
      border-radius .5em
      margin 0 .3em
      margin 0 0 1em 0
      display inline-block
      width 50%
      margin 0 0 1em 0
      display inline-block
      width 50%
    .p-c
      display inline-block
      background rgb(252, 95, 65)
      padding .4em
      border-radius .5em
      margin 0 .3em
      margin 0 0 1em 0
      display inline-block
      width 50%
      margin 0 0 1em 0
      display inline-block
      width 50%
    .p-d
      display inline-block
      background rgb(65, 125, 252)
      padding .4em
      border-radius .5em
      margin 0 .3em
      margin 0 0 1em 0
      display inline-block
      width 50%
      margin 0 0 1em 0
      display inline-block
      width 50%

#portafolio
  text-align center
  .portafolio-1
    display inline-block
    margin 0
    margin 0
    img

#contacto
  color black
  text-align center
  border-bottom 2px solid #24759f
  padding .5em

footer
  background url(../img/bg.jpg)
  background-repeat no-repeat
  background-position center
  background-size cover
  .footersito
    text-align center
  p
    color white
    text-align center
    display inline-block
    vertical-align top
  form
    text-align center
    display inline-block
    width 300px
    input
      border-radius 1em
      border none
      margin .3em
      padding 1em
      &:hover
        box-shadow 0 0 5px #24759f
    textarea
      border-radius 1em
      border none
      resize none
      padding 2em
      &:hover
        box-shadow 0 0 5px #24759f
    input[type="submit"]
      border none
      border-radius 1em
      background orange
      color white
      padding .8em
      margin-top .7em
      margin-bottom 1em
    button
      &:hover
        color white

@media
  screen
    and
      (min-width
        &:
          320px)
            and
              (max-width
                &:
                  768px)

}
  @media
    screen
      and
        (min-width
          &:
            768px)
              and
                (max-width
                  &:
                    1000px)

